:root {
  --primary: #1A6BFF;
  --bg: #F4F6FA;
  --card: #FFFFFF;
  --text: #0D1117;
  --text-light: #6B7788;
  --border: #E1E6F0;

  --green: #16A34A;
  --amber: #D97706;
  --blue: #1A6BFF;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
}
